services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  api:
    build: ./service/api
    container_name: api
    command: node src/api.js
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
    ports:
      - "3001:3001"

  orchestrator:
    build: ./service/orchestrator
    container_name: orchestrator
    command: node src/orchestrator.js
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092

  gateway:
    build: ./service/gateway
    container_name: gateway
    command: node src/gateway.js
    depends_on:
      - kafka
    environment:
      KAFKA_BROKER: kafka:9092
    ports:
      - "4001:4001"

  frontend:
    build: ./frontend
    container_name: frontend
    command: npm run dev
    depends_on:
      - api
      - gateway
    ports:
      - "3000:3000"


